torch==2.2.2
torchvision
numpy==1.24.3
tensorboard
matplotlib==3.4.3
tqdm
termcolor
gpustat
onnx
onnxruntime
scikit-learn
jupyterlab
seaborn
git+https://github.com/aleju/imgaug.git
scikit-image
pandas
opencv-python

